# Electron 镜像加速（中国用户）
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/

# Electron Builder 二进制文件镜像
ELECTRON_BUILDER_BINARIES_MIRROR=https://npmmirror.com/mirrors/electron-builder-binaries/

# 保存精确版本
save-exact=true

